* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-image: url('./d3f5c9061c36ff9c0b636b53b52882a2.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  
}

h3 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-image: linear-gradient(red, yellow, chartreuse);
  background-clip: text;
  -webkit-background-clip: text; /* for Safari */
  color: transparent;
  margin-bottom: 1.2vh;
  margin-top: 12vh;
  margin-left: 5vw;
}

.clw {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 0),
    darkcyan,
    rgb(0, 254, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 5vw;
}

p {
  color: forestgreen;
  margin-left: 15vh;
  margin-top: 15%;
  margin-bottom: 12%;
  font-size: 10vw;
  
}

#form {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

#first {
  color: green;
  cursor: pointer;
  margin-top: 2vh;
  margin-left: 15px;
}

.same {
  background: transparent;
  border: none;
  cursor: text;

  margin-left: 10px;
}

.same:hover {
  border-bottom: 1px solid chartreuse;
  transform: translateX(10px);
  transition: border-bottom 300ms ease-out;
}

.same:focus {
  outline: none;
  color: white;
  border-bottom: 1px solid chartreuse;
}

.btn {
  cursor: pointer;
  margin-top: 10vw;
  width: 45vw;
  height: 5vh;
  margin-left: 12.2vh;
  background-image: linear-gradient(30deg, chartreuse, yellow);
}

.btn:hover {
  letter-spacing: 5px;
  border-bottom: 2px solid red;
  border-left: 2px solid rgb(0, 255, 191);
  border-top: 2px solid rgb(247, 0, 255);
  border-right: 2px solid rgb(136, 0, 255);
  transition: 300ms ease-in-out;
  box-shadow: 0 0 5px 1px chartreuse;
}

#sec {
  color: green;
  margin-left: 13vh;
  margin-top: 5vw;
}

.up {
  color: red;
  cursor: pointer;
}

.up:hover {
  border-bottom: 2px ridge chartreuse;
  color: chartreuse;
}



@media (min-width: 1280px) {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p{
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 4vh;
  }
  #form{
    margin-top: 2em;
    margin-left: -15vw;
    margin-bottom: 2em;
  }
  #first{
    font-size: 1rem;
    margin-left: -15rem;
  }
  .btn{
    margin-top: 1rem;
    width: 7%;
  }
  #sec{
    font-size: 1rem;
    margin-top: 87px;
  }
}

@media (min-width: 1920px) {
  h3 {
    font-size: 4rem;
  }
  
  p {
    font-size: 3.5rem;
  }
  
  .same {
    font-size: 2.5rem;
  }
  
  .btn {
    width: 20%;
    height: 10vh;
    font-size: 2.5rem;
  }
}